
 * {
	box-sizing:border-box;
	margin:0;
	padding:0;
}
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
img {
  border-radius: 50%;
  width: 7%;
}
a{
  text-decoration: none;
  color: #7477bf
}
h3 {
  margin-bottom: 1em;
}
.dash-top,
.full-size-chart,
.half-size-charts,
.social-media-info,
.member-info,
.message-and-settings {
	background: rgb(38, 38, 38);
}


.chart-1,
.chart-2,
.members-1,
.members-2 {
	background: #3b3b3b;
}
.social-1,
.social-2,
.social-3,
.message,
.settings {
	background: rgb(38, 38, 38);
} 

header {
	background:  #3b3b3b;;
}
nav {
	background: rgb(38, 38, 38);
}
main {
  background: rgb(38, 38, 38);
  


} 
 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

/********COLORS FONT AND DEFAULT SIZES *********/
 

 
.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 50px 1fr;
  grid-template-areas: 
     'head'
   'navigation'
   'mainContent';

} /******** MOBILE DISPLAY LAYOUT********/

header {
  grid-area: head;
  width: 100%;
}
nav {
   grid-area: navigation;
   
}
main {
  grid-area: mainContent;
  display: grid;
  
 
} /******** GRID AREAS SETUP ********/


.half-size-charts,
.member-info,
.message-and-settings {
  display: grid;
  grid-gap: 2px;
} 

.half-size-charts,
.member-info,
.message-and-settings {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

} /**** LAYOUT CONTROL FOR MAIN CHILDREN *********/

.full-logo, 
.profile-name {
  font-size: 1em;
}
.icon-picture-name {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.logo {
  color: #7477bf;
  text-decoration: underline;
  
}

.bell-icon {
width: 4%;
}


.profile-picture{
  margin: 1em;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;

}
 .icon {
   width: 5%;
   
 }
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
  
}
.headline {
  padding-top: .5em;
  padding-left: .5em;
}
.main-search-wrapper {
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 1em;
}
.main-search {
  width: 95%;
  padding: 1.4em;
  border-radius: 3%;
  
}
.alert-banner {
  display: flex;
  justify-content: flex-end;
  margin-right: 2em;

}
.alert-half-banner {
  background-color: #7477bf;
  padding: .5em;
  border-radius: .5em;
}
.traffic-items{
  display: flex;
  justify-content: space-around;
  padding: 2em;
 
}
.traffic-item {
  list-style: none;
  
}
.traffic-item:hover {
  background-color: #7477bf;
  border-radius: 1em;
  padding: .2em;
}
.full-size-chart{
  width: 95vw;
  height: 300px;
  position: relative;
}
.chart-1, .chart-2 {
  padding: 2em 0;
}

.social-text, .social-headline {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-1 ,
.social-2 ,
.social-3  { 
display: flex;
justify-content: center;
align-items: center;
padding: .5em
}

.social-icon {
  width: 10%;
  border-radius: 50%;
  background-color: #7477bf;
  
}

.member {
  padding: 1em;

}

.message input{
  padding: .5em;
  display: flex;
  margin: auto;
  flex-direction: row;
  border-radius: .3em;
  width: 90%;
}
.message button {
  display: flex;
  margin: auto;
  margin: 1em auto;
  padding: .5em;
  width: 90%;
  border-radius: .3em;
  background-color: #7477bf;
  color: white;
  justify-content: center;
  
}
.message textarea {
  display: flex;
  margin: 1em auto;
  border-radius: .3em;
  width: 90%;

}
.message h3 {
  margin: 1em;
  text-align: center;
}
.settings {
 padding: 1em;
  
}
.form-field {
  padding: 1em;
  width: 90%;
  margin: 2em auto;
  border-radius: .3em;
}
.settings-button {
 display: flex;
 flex-direction:column;
 width: 90%;
 margin: auto;
 
}
.button-primary, .button-disabled {
  display: flex;
  padding: .3em;
  border-radius: .3em;
  margin-bottom: .5em;
  justify-content: center;
  background-color: #7477bf;
  color: white;
}

 /****** CHILDREN STYLE ******/




@media (min-width: 768px) {
  .grid-container {
  grid-template-rows: 70px 60px 1fr;
  }

  
.icon {
  width: 5%;

}
  

} /************ TABLET DISPLAY ************/


@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 60px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
     'head head'
     'navigation mainContent';
  }
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

  }
  .icon{
    width: 50%;
    margin: 1em auto;
  }
  .dash-search {
    display: flex;
    justify-content:space-between;

  }
  .main-search{
    width: 50vw;
    height: 2vh;
  }
  .alert-half-banner {
  display: flex;
  justify-content: flex-end;
    width: 80vw;
    margin-left: 1.5em;
    padding: .3em;
  }

.social-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  border: solid 1px black; 
}
.social-1,
.social-2,
.social-3 {
  border: solid 1px black;
  padding: 2em;
  margin: 1em;
}

} /*********** DESKTOP DISPLAY ******