
 * {
	box-sizing:border-box;
	margin:0;
	padding:0;
}
body {
	height: 100vh;
}
.dash-top,
.full-size-chart,
.half-size-charts,
.social-media-info,
.member-info,
.message-and-settings {
	background: rgba(76, 79, 83, 0.2);
}


.chart-1,
.chart-2,
.members-1,
.members-2 {
	background: rgba(169, 148, 202, 0.2);
}
.social-1,
.social-2,
.social-3,
.message,
.settings {
	background: rgba(108, 108, 211, 0.2);
}


header {
	background: #7477BF;
}
nav {
	background: #4D4C71;
}
main {
	background: white;
}
 
 
 /* MOBILE DISPLAY */
.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 50px 1fr;
  grid-template-areas: 
     'head'
   'navigation'
   'mainContent';

}
/* GRID AREAS SETUP */
header {
  grid-area: head;
  width: 100vw;

}
nav {
   grid-area: navigation;
   
}
main {
  grid-area: mainContent;
  display: grid;
  
 
}
/* MAKES CONTENT IN MAIN GRID AREA */
.half-size-charts,
.social-media-info,
.member-info,
.message-and-settings {
  display: grid;
  grid-gap: 2px;

}

.half-size-charts,
.member-info,
.message-and-settings {
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

}






/* TABLET DISPLAY */

@media (min-width: 768px) {
  .grid-container {
  grid-template-rows: 70px 60px 1fr;
  }

}


@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 60px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
     'head head'
     'navigation mainContent';
  }
  .social-media-info {
    grid-template-columns: repeat(3, 1fr);
  }

}