
 * {
	box-sizing:border-box;
	margin:0;
	padding:0;
}
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
img {
  width: 7%;
}
.dash-top,
.full-size-chart,
.half-size-charts,
.social-media-info,
.member-info,
.message-and-settings {
	background: #3b3b3b;
}


.chart-1,
.chart-2,
.members-1,
.members-2 {
	background: #3b3b3b;
}
.social-1,
.social-2,
.social-3,
.message,
.settings {
	background: rgb(38, 38, 38);;
} 

header {
	background:  #3b3b3b;;
}
nav {
	background: rgb(38, 38, 38);
}
main {
	background: rgb(38, 38, 38);
} /********COLORS FONT AND DEFAULT SIZES *********/
 

 
.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 70px 1fr;
  grid-template-areas: 
     'head'
   'navigation'
   'mainContent';

} /******** MOBILE DISPLAY LAYOUT********/

header {
  grid-area: head;
  width: 100vw;
}
nav {
   grid-area: navigation;
   
}
main {
  grid-area: mainContent;
  display: grid;
  
 
} /******** GRID AREAS SETUP ********/


.half-size-charts,
.social-media-info,
.member-info,
.message-and-settings {
  display: grid;
  grid-gap: 2px;
} 

.half-size-charts,
.member-info,
.message-and-settings {
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

} /**** LAYOUT CONTROL FOR MAIN CHILDREN *********/

.logo {
  color: #7477bf;
  text-decoration: underline;
}

.bell-icon {
width: 4%;
margin-left: 100px;
}

.profile-picture {
  width: 6%;
  
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;

}
 .icon {
   width: 25%;
   
 }
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
  
}
.headline {
  padding-left: .5em;
}
.main-search-wrapper {
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 1em;
}
.main-search {
  width: 95%;
  padding: 1.4em;
  border-radius: 3%;
  
}
.alert-banner {
  display: flex;
  justify-content: flex-end;
  margin-right: 2em;

}
.alert-half-banner {
  background-color: #7477bf;
  padding: .5em;
  border-radius: .5em;
}
.traffic-items{
  display: flex;
  justify-content: space-around;
  padding: 2em;
 
}
.traffic-item {
  list-style: none;
  
}
.traffic-item:hover {
  background-color: #7477bf;
  border-radius: 1em;
  padding: .2em;
}
.chart-1, .chart-2 {
  padding: 2em 0;
}
.social-media-info {
  margin: 2em 1em;
  
}
.social-1,
.social-2, 
.social-3 {
  display: flex;
  justify-content: center;
  padding: .9em 0;
  
}
.social-icon {

  width: 14%;
  border-radius: 50%;
  background-color: #7477bf;
  margin-right: 1em;
  
}


 /****** CHILDREN STYLE ******/




@media (min-width: 768px) {
  .grid-container {
  grid-template-rows: 70px 60px 1fr;
  }
  .profile-picture {
    width: 5%;
    margin-left: 15em;
  }
  

} /************ TABLET DISPLAY ************/


@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 60px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
     'head head'
     'navigation mainContent';
  }
  .social-media-info {
    grid-template-columns: repeat(3, 1fr);
  }

} /*********** DESKTOP DISPLAY ******