.message button {
  display: flex;
  margin: auto;
  margin: 1em auto;
  padding: .5em;
  width: 90%;
  border-radius: .3em;
  background-color: #7477bf;
  color: white;
  justify-content: center;
}
.settings-button {
  display: flex;
  flex-direction: column;
  width: 90%;


}