.message input {
  padding: .5em;
  display: flex;
  margin: auto;
  flex-direction: row;
  border-radius: .3em;
  width: 90%;
}


.message textarea {
  display: flex;
  margin: 1em auto;
  border-radius: .3em;
  width: 90%;

}

.message h3 {
  margin: 1em;
  text-align: center;
}

.settings {
  padding: 1em;

}

.form-field {
  padding: 1em;
  width: 90%;
  margin: 2em auto;
  border-radius: .3em;
}

.settings-button {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;

}

.button-primary,
.button-disabled {
  display: flex;
  padding: .3em;
  border-radius: .3em;
  margin-bottom: .5em;
  justify-content: center;
  background-color: #7477bf;
  color: white;
}