.dash-top,
.full-size-chart,
.half-size-charts,
.social-media-info,
.member-info,
.message-and-settings {
  background: rgb(38, 38, 38);
}

.chart-1,
.chart-2,
.members-1,
.members-2 {
  background: #3b3b3b;
}

.social-1,
.social-2,
.social-3,
.message,
.settings {
  background: rgb(38, 38, 38);
}

header {
  background: #3b3b3b;
  ;
}

nav {
  background: rgb(38, 38, 38);
}

main {
  background: rgb(38, 38, 38);


}